@media (max-width: 740px) {
    header {
        width: 10%;
        left: 0;
        height: 300px;
        text-align: center;
        display: none;
        overflow: hidden;  
      }
      #home{
        position: relative;

      }
      .mobile-menu-btn{

        padding: 20px;
      }
      .ti-arrow-down {
        padding: 20px;

      }
      .ti-arrow-up {
        padding: 20px;

      }
      .portfolio span {
        font-size: 3rem;

      }
      
      .portfolio a {

        font-size: 4rem;
 
      }

      .view-btn1,
      .view-btn2 {
        margin: 2px;
        padding: 5px;
        width: 20%;


      }
      .slider {
        width: 100%;
        height: 50%;
      }
      .slider .item {
        width: 30%;
        left: 34%;
      }
      .slider #next{
        position: absolute;
        right: 5%;
      }
      .slider #prev{
        position: absolute;
        left: 80%;
      
      }
      .slider #prev, #next{
        top: -11%;
        padding: 5px 10px;
        font-size: small;
        font-family: monospace;
        font-weight: 100;
      }

      .hello .vie {
        width: 100%;
        height: 25%;

      }
      .hello .vie h1 {
        font-size: 4rem;
        letter-spacing: -0.5rem;

      }
      .hello .name h2{

        font-size: 6rem;
 
      }
      .hello .name {
        width: 100%;
        height: 25%;
      }
      .hello .name h2{

        font-size: 6rem;
        padding: 0;
      }
      .hello .chi h3{
        top: 48%;
        left: 80%;
        font-size: 1rem;
        padding: 5px;

      }

      .hello .eng h4 {
        top: 20%;
        left: 0;
        font-size: 1.5rem;
        background-color: #4F709C;
      }

      .hello .eng span {
        top: 60%;
        font-size: 3rem;
      }

      .credit {
        padding-top: 10%;
        width: 100%;
        display: block;
        text-align: center;

      }
      .credit a{
        position: relative;
        width: 100%;
        top: 20%;
        z-index: 10;
      }
      .credit .color1 {
        width: 100%;
      }
      .credit .color2 {
        width: 0%;
      }
      .about .title {
        font-size: 2rem;

      }
      .about .content,
      .about .work {
        display: block;
        width: 100%;
        }
        .about .text,
.about .logo,
.about .experience,
.about .skills{
  width: 100%;
  margin-left:0;
  margin-top: 5px;
}
.about .skills ul{
margin-top: 5px;
}
.about .skills li{
margin: 5px 5px 5px 0; 
}
.about .contact {
  text-align: left;
}
.about .icon i {
  margin: 0 10px;
}
.about .contact p {
  text-align: center;
}
.project-category {

  font-size:1rem;
  line-height: 4;
}
.product-category {
  font-size:1rem;
  line-height: 4;
  }
  .store .title {

    font-size: 1rem;
    line-height: 2;
  }
  .store .information{
    display: inline-block;
  
  }
  .store .info{
    width: 100%;
    padding: 0 5% 0 5%;
  }
  .img-slide {
    padding: 0;
  }
  .store .screen{
    width: 100%;
    height: max-content;
    margin-bottom: 20px;
  }
  #visit {
  }
  .visit-btn {
    font-size: 1rem;
  }
  .store .welcome {

    line-height: 4;
  }
  .store .welcome h2{
    font-size: 1.6rem;
    
    line-height: 2;
  }
  .store .welcome h3{
    font-size: 0.8rem;

    line-height: 2;
  }
  .footer h1 {
    color: #4F709C;
    font-size: 1.5rem;
  }
}

  @media (min-width: 740px) and (max-width: 1023px) {
    header{
        width: 10%;
        right: 100px;
        height: 300px;
        text-align: center;
        display: none;

    }

            
    .hello .name {
        width: 67%;

      }
      
      .slider {
        height: 50%;
      }
      .slider .item {
        width: 30%;
        left: 34%;
      }
      .credit {
        padding-top: 10%;
        width: 100%;
        display: block;
        text-align: center;

      }
      .credit a{
        position: relative;
        width: 100%;
        top: 20%;
        z-index: 10;
      }
      .credit .color1 {
        width: 100%;
      }
      .credit .color2 {
        width: 0%;
      }
      .footer h1 {
        color: #4F709C;
        font-size: 2rem;
      }
  }